.swiper {
    width: 100vw;
    height: 90vh;
    background: #ECEFF7;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;



    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Listcard{
    
}


